# Entorno virtual de Python
venv/
.venv/

# Archivos de configuración locales
instance/

# Archivos generados por el sistema operativo
*.pyc
__pycache__/

# Archivos de configuración de PyCharm
.idea/

# Archivos de registro y caché de SQLAlchemy
*.sqlite
*.sqla

# Archivo de variables de entorno
.env
